
<!-- <div class="toolbar-container">
    <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
    </button>
    <span>Shop-App</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
        <a routerLink="/" (click) = "clickHandler()" href="#" routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/contactus" (click) = "clickHandler()" href="#" routerLinkActive ="active">Contact us</a>
        <a routerLink="/feedback" (click) = "clickHandler()" href="#" routerLinkActive="active">Feedback</a>
        <a routerLink="/cart" (click) = "clickHandler()" href="#" routerLinkActive="active">Cart</a>
    </div>
</mat-toolbar-row>
    </mat-toolbar>

</div> -->

<router-outlet></router-outlet>